/* Let's try using SASS instead for our overrides. */

.wrapper-footer {
    font-size: 0.6em;
    ul.nav-footerlinks {
        li {
            font-size: 0.4em;
        }
    }
}

/* Extra hack for module titles. */

span.module-title-span {
    display: table-cell;
    padding-right: 5px;
    font-size: 85%;
    vertical-align: middle;
    text-align: left;
    line-height: 1.2;
}

.module-title-icon {
    display: table-cell;
    padding: 0 5px;
}

div.module-title-block {
    display: table;
    margin: 0 auto;
}
