## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/navigation.html"/>

## TODO: this will eventually be moved to the Sass
<%block name="navigation_logo">
  %if course and not disable_courseware_header:
  <img src="${static.url('themes/default/images/cpm_logo_notitle.svg')}" height="50" alt="Центр педагогического мастерства" />
  %else:
  <img src="${static.url('themes/default/images/cpm_logo_title.svg')}" height="50" style="margin-top: -2px;" alt="Центр педагогического мастерства" />
  %endif
</%block>

