## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/navigation.html"/>

## TODO: this will eventually be moved to the Sass
<%block name="navigation_logo">
  <%

  # Mihara: Determine head template based on marketing link ROOT.
  if marketing_link('ROOT') in ["https://base-dev.kursitet.ru/", "https://kursitet.ru/", "https://siriusbase.kursitet.ru", "https://edu.talantiuspeh.ru"]:
    shadow = False
  else:
    shadow = True

  # can't figure out a better way to get at a possibly-defined course var
  course_id = None
  if shadow:
    try:
      course_id = course.id.to_deprecated_string()
    except:
      pass
  %>

  % if not shadow:
  <img src="${static.url('themes/default/images/cpm-on-edx-logo.png')}" height="50" style="margin-top: -4px;" alt="На главную" />
  % else:
    <%
    %>
    % if course_id:
      <img src="${static.url('themes/default/images/cpm-on-edx-logo-kpk.png')}" height="50" alt="Центр педагогического мастерства" />
    % else:
      <img src="${static.url('themes/default/images/cpm_logo_title.svg')}" height="50" style="margin-top: -2px;" alt="Центр педагогического мастерства" />
    % endif
  % endif
</%block>
