## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="http://olimpiada.ru/">Olimpiada.ru</a></li>
          <li><a href="http://vos.olimpiada.ru/">Всероссийская олимпиада в Москве</a></li>
          <li><a href="http://mosolymp.olimpiada.ru/">Московская олимпиада школьников</a></li>
          <li><a href="http://info.olimpiada.ru/calendar">Календарь олимпиад</a></li>
        </ol>
      </nav>
    </div>
    <div class="references">
      <span>© 2013 ГБОУ ЦПМ г. Москва. Built on <a href="http://code.edx.org">OpenEdX</a>.</span>
    </div>
  </footer>
</div>
