## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-footerlinks">
        <ol>
          <li>&#160;</li>
          <li>&#160;</li>
          <li>&#160;</li>
          <li>&#160;</li>
        </ol>
      </nav>
    </div>
    <div class="references">
      <span>&copy; Курситет, 2014-2015 <a href="http://mccme.ru">МЦНМО</a>.<br>Система работает на <a href="http://code.edx.org">OpenEdX</a>.</span>
    </div>
  </footer>
</div>
<script type="text/javascript" src="//kursitet.ru/static/js/libs/iframeResizer.min.js"></script>
