## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/navigation.html"/>

## TODO: this will eventually be moved to the Sass
<%block name="navigation_logo">
  <%

  from django.conf import settings

  # Mihara: can't figure out a better way to get at a possibly-defined course var
  course_id = None
  if settings.MKTG_URLS.get('WIDE_LOGO'):
    try:
      course_id = course.id.to_deprecated_string()
    except:
      pass
  %>

  % if not settings.MKTG_URLS.get('WIDE_LOGO'):
  <img src="${settings.MKTG_URLS.get('BOX_LOGO')}" height="50" style="${settings.MKTG_URLS.get('BOX_LOGO_STYLE')}" alt="На главную" />
  % else:
    <%
    %>
    % if course_id:
      <img src="${static.url(settings.MKTG_URLS.get('BOX_LOGO'))}" height="50" style="${settings.MKTG_URLS.get('BOX_LOGO_STYLE')}" alt="${settings.MKTG_URLS.get('LOGO_ALT')}" />
    % else:
      <img src="${static.url(settings.MKTG_URLS.get('WIDE_LOGO'))}" height="50" style="${settings.MKTG_URLS.get('WIDE_LOGO_STYLE')}" alt="${settings.MKTG_URLS.get('LOGO_ALT')}" />
    % endif
  % endif
</%block>
